APScheduler==3.11.0
Flask==3.1.0
gunicorn==23.0.0
Jinja2==3.1.6
paramiko==3.5.1
pg8000==1.30.5
pip-upgrader==1.4.15
pyinstaller==6.12.0
pymssql==2.3.4
PyMySQL==1.1.1
PyYAML==6.0.2
requests==2.32.3
SQLAlchemy==2.0.40
urllib3==2.3.0
xmltodict==0.14.2
